# Aprendizaje automático relacional

In [8]:
# Librerias

import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
# import sklearn as sk

https://www.kaggle.com/datasets/rozemberczki/musae-github-social-network/data

In [9]:
# Datos
edges = pd.read_csv("../data/musae_git_edges.csv")
features = pd.read_csv("../data/musae_git_features.csv")
target = pd.read_csv("../data/musae_git_target.csv")

In [10]:
edges.head()

   id_1   id_2
0     0  23977
1     1  34526
2     1   2370
3     1  14683
4     1  29982

In [11]:
features.head()

   node  feature
0     0     1574
1     0     3773
2     0     3571
3     0     2672
4     0     2478

In [12]:
target.head()

   id          name  ml_target
0   0        Eiryyy          0
1   1    shawflying          0
2   2   JpMCarrilho          1
3   3     SuhwanCha          0
4   4  sunilangadi2          1

In [13]:
len(edges)

289003

## EDA

Construcción del grafo

In [14]:
Data = open('../data/musae_git_edges.csv', "r")

next(Data, None)  # skip the first line in the input file

g = nx.parse_edgelist(Data, delimiter=',', create_using=nx.Graph(), nodetype=int)

## Aprendizaje automático relacional: 3 enfoques

### Aprendizaje automático relacional con extracción manual de características

### Aprendizaje automático con extracción automática de características (node2vect)

### Graph Neuronal Networks